In [ ]:
# Project Members:
# Ankur Sahni
# Kshitij Pokhiriyal
# Niranjan
# Syed Noor

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'E:\New Folder\covid_canada.csv')

In [3]:
data.head()

                                        Tweeted Text  retweet_count
0  b'RT @Truthproject4: City of Miami to buy #Bit...              4
1  b'@JustinTrudeau who is paying for the enforce...              0
2  b'RT @Truthproject4: City of Miami to buy #Bit...              4
3  b'RT @MelissaLMRogers: When government determi...             47
4  b'RT @Jacklyn39603402: If travel is responsibl...             29

In [4]:
data.shape

(668, 2)

In [5]:
def get_target_column(retweet_count):
    
    if retweet_count > 10:
        return 'Class A'
    else:
        return 'Class B'
    
data['target'] = data['retweet_count'].apply(get_target_column)

In [6]:
data['target'].value_counts()

Class B    474
Class A    194
Name: target, dtype: int64

In [7]:
data_new = data[['Tweeted Text', 'target']]

In [8]:
data_new

                                          Tweeted Text   target
0    b'RT @Truthproject4: City of Miami to buy #Bit...  Class B
1    b'@JustinTrudeau who is paying for the enforce...  Class B
2    b'RT @Truthproject4: City of Miami to buy #Bit...  Class B
3    b'RT @MelissaLMRogers: When government determi...  Class A
4    b'RT @Jacklyn39603402: If travel is responsibl...  Class A
..                                                 ...      ...
663  b'Cases and your Chances of RECOVERY. #Canada ...  Class B
664  b'February 4, 2021  Pandemic doesn\xe2\x80\x99...  Class B
665  b'Karens Gone Wild Canadian Edition!!  #Karen ...  Class B
666  b'February 4, 2021  Don\xe2\x80\x99t let the p...  Class B
667  b'@CTVNews #Trudeau Stealing from #CoVax IS pa...  Class B

[668 rows x 2 columns]

Requirement already satisfied: tweet-preprocessor in c:\users\sahni\anaconda3\lib\site-packages (0.6.0)

In [10]:
import preprocessor as p

In [11]:
data_new['cleaned_text'] = data_new['Tweeted Text'].apply(p.clean)

In [12]:
data_new[["Tweeted Text","cleaned_text"]]

,Tweeted Text,cleaned_text
0,b'RT @Truthproject4: City of Miami to buy #Bit...,b'RT : City of Miami to buy \xe2\x80\xa6'
1,b'@JustinTrudeau who is paying for the enforce...,b' who is paying for the enforcement of \xe2\x...
2,b'RT @Truthproject4: City of Miami to buy #Bit...,b'RT : City of Miami to buy \xe2\x80\xa6'
3,b'RT @MelissaLMRogers: When government determi...,b'RT : When government determines what\xe2\x80...
4,b'RT @Jacklyn39603402: If travel is responsibl...,b'RT : If travel is responsible for less than ...
...,...,...
663,b'Cases and your Chances of RECOVERY. #Canada ...,b'Cases and your Chances of RECOVERY. &amp; TO...
664,"b'February 4, 2021 Pandemic doesn\xe2\x80\x99...","b'February , Pandemic doesn\xe2\x80\x99t discr..."
665,b'Karens Gone Wild Canadian Edition!! #Karen ...,b'Karens Gone Wild Canadian Edition!! '
666,"b'February 4, 2021 Don\xe2\x80\x99t let the p...","b'February , Don\xe2\x80\x99t let the pandemic..."
667,b'@CTVNews #Trudeau Stealing from #CoVax IS pa...,b' Stealing from IS part of YOUR Strategy for ...

In [13]:
df = data_new[['cleaned_text', 'target']]
df

                                          cleaned_text   target
0            b'RT : City of Miami to buy \xe2\x80\xa6'  Class B
1    b' who is paying for the enforcement of \xe2\x...  Class B
2            b'RT : City of Miami to buy \xe2\x80\xa6'  Class B
3    b'RT : When government determines what\xe2\x80...  Class A
4    b'RT : If travel is responsible for less than ...  Class A
..                                                 ...      ...
663  b'Cases and your Chances of RECOVERY. &amp; TO...  Class B
664  b'February , Pandemic doesn\xe2\x80\x99t discr...  Class B
665            b'Karens Gone Wild Canadian Edition!! '  Class B
666  b'February , Don\xe2\x80\x99t let the pandemic...  Class B
667  b' Stealing from IS part of YOUR Strategy for ...  Class B

[668 rows x 2 columns]

In [43]:
from sklearn.feature_extraction.text import TfidfVectorizer

X = df[['cleaned_text']]
y = df[['target']]

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer
td = TfidfVectorizer(max_features = 2000)
X = td.fit_transform(X['cleaned_text'].to_list()).toarray()

In [65]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=100)

In [66]:
from sklearn.linear_model import LogisticRegression
regr = LogisticRegression()

In [67]:
regr.fit(X_train,y_train)

C:\Users\sahni\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\sahni\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [68]:
model = regr.predict(X_test)

In [69]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test,model)

array([[ 79,  10],
       [  0, 179]], dtype=int64)

In [70]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,model)

0.9626865671641791

In [ ]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
classifier.fit(X_train, y_train.values.ravel())

In [ ]:
model = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score, classification_report
classification_report = classification_report(y_test, model)

print('\n Accuracy: ', accuracy_score(y_test, model))
print('\nClassification Report')
print('======================================================')
print('\n', classification_report)

In [180]:

from sklearn.metrics import precision_recall_fscore_support as score

precision, recall, fscore, support = score(Y_test, model)

print('precision: {}'.format(precision))
print('recall: {}'.format(recall))
print('fscore: {}'.format(fscore))
print('support: {}'.format(support))

precision: [0.875      0.80821918]
recall: [0.88888889 0.78666667]
fscore: [0.88188976 0.7972973 ]
support: [126  75]